@model StudentFormViewModel

@{
    ViewData["Title"] = "student";
}
<div class="container mt-3  pb-3">
    <div class="card">
        <div class="card-header alert alert-success">
            <h3 class="text-uppercase text-center">@(Model?.Id > 0 ? "Edit" : "Create") @ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <form method="post" asp-action="@(Model?.Id > 0 ? "Edit" : "Create")">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-2">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" placeholder="Full Name"/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="Age" class="control-label"></label>
                                <input asp-for="Age" class="form-control"  placeholder="Age 20:30" value="@(Model?.Id > 0 ? Model.Age : string.Empty)" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="Email" class="control-label" ></label>
                                <input asp-for="Email" class="form-control" placeholder="example@gmail.com"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" placeholder="Password 8-25 char" value="@(Model?.Id > 0 ? Model.Password : string.Empty)" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" value="@(Model?.Id > 0 ? Model.ConfirmPassword : string.Empty)" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="DepartmentId" class="control-label"></label>
                                <select asp-for="DepartmentId" class="form-control" asp-items="Model?.Departments">
                                    <option value="">Select Department</option>
                                </select>
                            </div>

                            @if (Model?.Id > 0)
                            {
                                <input type="hidden" asp-for="Id" />
                                <div class="form-check form-switch">
                                    <label asp-for="IsDeleted" type="checkbox"  class="form-check-label"></label>
                                    <input asp-for="IsDeleted" class="form-check-input" />
                                    <span asp-validation-for="IsDeleted" class="text-danger"></span>
                                </div>
                            }
                        </div>
            
                        <div class="form-group">
                            <input type="submit" value="@(Model?.Id > 0 ? "Save Changes" : "Create")" class="btn btn-primary" /> | 
                            <span>
                                <a class="btn btn-secondary ml-2 text-capitalize" asp-action="Index">
                                    <i class="bi bi-arrow-left"></i>
                                    Back to List
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}